Day34/__pycache__/data.cpython-312.pyc
Day34/__pycache__/question_model.cpython-312.pyc
Day36/.env
Day38/.env
.idea/100_days_of_code_python.iml
.idea/misc.xml
Day39/.env
Day39/__pycache__/data_manager.cpython-311.pyc
Day39/__pycache__/main.cpython-311.pyc
.idea/100_days_of_code_python.iml
.idea/misc.xml
.idea/100_days_of_code_python.iml
.idea/misc.xml
